{% extends 'baseTemplates/base.html' %}
{% load custom %}

{% load staticfiles %}


{% block header %}
<meta name="baidu-site-verification" content="lMaZcayFF4" />

{% endblock header %}

{% block title %} 细 雨 听 风 {% endblock title %}

{% block body %}
    <div class="copyrights">Designd by <a href="http://www.liaoyann.com/">Scott</a></div>

    <!-- Main -->
    <div id="main">
        {% for item in dataList %}
            <!-- Post -->
            {% include 'baseTemplates/_article.html' with is_index=1 %}
        {% endfor %}

        {% include 'baseTemplates/_pagination.html' %}

    </div>

    <!-- Sidebar -->
    <section id="sidebar">

        <!-- Intro -->
        <section id="intro">
            <a href="#" class="logo"><img src="{% static "myBlog/images/logo.jpg" %}" alt=""/></a>
            <header>
                <h2>make more time</h2>
                {% if joke %}
                    <p>{{ joke | safe }}</p>
                {% else %}
                    <p>有一个男生丁丁很短，于是他去了学拉丁舞...</p>

                {% endif %}
            </header>
        </section>

        <!-- Mini Posts -->
        <section>
            <div class="mini-posts">
                {% for item in liveList %}
                    {% include 'baseTemplates/_side_article.html' %}
                {% endfor %}
            </div>
        </section>

        <!-- About -->
        <section class="blurb">
            <h2>About</h2>
            <p>一只野生程序员，13年转行，一直不断学习，从iOS到Python，对编程有着极大的热情，喜欢钻研，喜欢学习，希望能一直编程。</p>
            <ul class="actions">
                <li><a href="/resume/" class="button">Know More</a></li>
            </ul>
        </section>
        <!-- Footer -->
        <section id="footer">
            <ul class="icons">
                {#									<li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>#}
                {#									<li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>#}
                {#									<li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>#}
                {#									<li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>#}
                {#									<li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>#}
            </ul>
            <div class="copyrights"><a href="http://www.liaoyann.com/">Scott</a></div>

            <p class="copyright">&copy; Designd by <a href="http://www.liaoyann.com/" target="_blank"
                                                      title="细雨听风">Scott</a>.</p>
        </section>

    </section>

    <script type="text/javascript">
        $(function () {
            $('a.big').click(function (e) {
                var list =
                {{ jsonData | safe }}
                var index = $(e.target).attr('index')
                {#                            console.log(list[index-1])#}
                content = list[index - 1].fields.content

                $('#content' + index).html(content)

            })

            $("#txt_JumpPager").keydown(function (e) {
                var curKey = e.which;
                if (curKey == 13) {
                    $("#lbtn_JumpPager").click();
                    return false;
                }
            });
        })
    </script>
{% endblock body %}