{%extends 'baseTemplates/base.html'%}
{% load custom %}

{% load staticfiles %}


{% block title %} 细 雨 听 风 {% endblock title %}

{% block body %}

                    <div class="copyrights">Designd by  <a href="http://www.liaoyann.com/" >Scott</a></div>

				<!-- Main -->
					<div id="main">
                        {% for item in dataList %}
                            <!-- Post -->
							{% include 'baseTemplates/_article.html' %}
                        {% endfor %}
					</div>

{% endblock body %}