{% load custom %}

{% load staticfiles %}

<article class="mini-post">
    <header>
        <h3><a href="/detail/{{ item.id }}/">{{ item.title }}</a></h3>
        <time class="published"
              datetime="{{ item.created_at }}">{{ item.created_at.month | eng_month }} {{ item.created_at.day }}, {{ item.created_at.year }}</time>
        <a href="#" class="author"><img src="{% static "myBlog/images/avatar.jpg" %}" alt=""/></a>
    </header>

    {% if item.titlePage %}
        <a href="/detail/{{ item.id }}/" class="image featured"><img src="{{ item.titlePage.url }}"
                                                                     alt="{{ item.title }}"/></a>
    {% endif %}
</article>